:root{ 
   --cor-fundo:#C14EE9;
   --cor-lista:#EFE3E3;
}
.cabecalho{
    background-color: var(--cor-fundo);
    color: var(--cor-lista);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}
.imagem-cabecalho{
    width: 200px;
}
.item-lista-cabecalho{
    display:inline-block;
    margin: 0 16px;
    font-size:x-large;

}