*{
    margin:0;
    padding:0;
}

:root{ 
   --cor-fundo:#C14EE9;
   --cor-lista:#EFE3E3;
}
.cabecalho{
    background-color: var(--cor-fundo);
    color: var(--cor-lista);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}
.imagem-cabecalho{
    width: 200px;
}
.item-lista-cabecalho{
    display:inline-block;
    margin: 0 16px;
    font-size:x-large;

}
.escola-imagem{
    width: 25%;
}
.escola{
    background-image: linear-gradient(#C14EE9, #EFE3E3);
    color: var(--cor-fontes);
    display: flex;
}